@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
body {
	margin: 0;
  overflow-x: hidden;
}
.main {
  width: 100vw;
  height: 46vw;
  background-image: url("img/qqw.jpg");
  -webkit-background-size: 100vw 46vw;
  background-size: 100vw 46vw;
}
.main_name {
  width: 100vw;
  height: 4vw;
  position: absolute;
  top: 3vw;
  background: #00000047;
  border-bottom: 0.1vw solid #9e908e63;
  border-top: 0.1vw solid #9e908e63; 

}
.span1 {
  font-family: 'Baloo Bhai', cursive;
  color: white;
  font-size: 2vw;
  position: absolute;
  top: 0.5vw; 
  left: 11vw;
  text-shadow: 0vw 0vw 20px #eee;
}
.span2 {
  width: 14vw;
  font-family: 'Roboto Slab', cursive ;
  color: white;
  font-size: 2vw;
  position: absolute;
  top: 13.5vw; 
  left: 11vw;
  text-shadow: 0vw 0vw 20px #eee;
}
.span3 {
  width: 33vw;
  font-family: 'Roboto Slab', cursive;
  color: white;
  font-size: 1vw;
  position: absolute;
  top: 16.5vw;
  left: 11vw;
  text-shadow: 0vw 0vw 20px #eee;
}
.span4 {
  width: 16vw;
  font-family: 'Roboto Slab', cursive;
  color: white;
  font-size: 1vw;
  position: absolute;
  top: 20.5vw;
  left: 28vw;
  text-shadow: 0vw 0vw 20px #eee;
}
.work {
  width: 100vw;
  height: 86vw;
  background-image: url(img/b1.jpg);
  background-size: 100vw 86vw;
  position: absolute;
  top: 46vw;
}
.w_box {
  width: 70vw;
  height: 37vw;
  position: absolute;
  left: 14.5vw;
  top: 5vw; 
}
.w1_info1 {
  width: 17vw;
  height: 18vw;
  background: white;
  position: absolute;
  top: 5vw;
  left: 6vw;
  background-image: url("img/w1.png");
  background-size: 17vw 18vw;
  box-shadow: 0vw 0vw 2vw 0vw;
}
.w1_info2 {
  width: 17vw;
  height: 18vw;
  background: white;
  position: absolute;
  left: 25vw;
  top: 5vw;
  background-image: url("img/w2.png");
  background-size: 17vw 18vw;
  box-shadow: 0vw 0vw 2vw 0vw;
}
.w1_info3 {
  width: 17vw;
  height: 18vw;
  background: white;
  position: absolute;
  left: 6vw;
  top: 25vw;
  background-image: url("img/w3.png");
  background-size: 17vw 18vw;
  box-shadow: 0vw 0vw 2vw 0vw;
}
.w1_info4 {
  width: 17vw;
  height: 18vw;
  background: white;
  position: absolute;
  left: 25vw;
  top: 25vw;
  background-image: url("img/w4.png");
  background-size: 17vw 18vw; 
  box-shadow: 0vw 0vw 2vw 0vw;
}
.w2_info1 {
  width: 17vw;
  height: 18vw;
  background: white;
  position: absolute;
  top: 45vw;
  left: 6vw;
  background-image: url("img/w5.png");
  background-size: 17vw 18vw;
  box-shadow: 0vw 0vw 2vw 0vw;
}
.w2_info2 {
  width: 17vw;
  height: 18vw;
  background: white;
  position: absolute;
  top: 45vw;
  left: 25vw;
  background-image: url("img/w6.png");
  background-size: 17vw 18vw;
  box-shadow: 0vw 0vw 2vw 0vw;
}
.w2_info3 {
  width: 17vw;
  height: 18vw;
  background: white;
  position: absolute;
  top: 65vw;
  left: 6vw;
  background-image: url("img/w7.png");
  background-size: 17vw 18vw;
  box-shadow: 0vw 0vw 2vw 0vw;
}
.js1 {
  width: 17vw;
  height: 18vw;
  background: #00000040;
  position: absolute;
  display: none;
}
.js2 {
  width: 17vw;
  height: 18vw;
  background: #00000040;
  position: absolute;
  display: none;
}
.js3 {
  width: 17vw;
  height: 18vw;
  background: #00000040;
  position: absolute;
  display: none;
}
.js4 {
  width: 17vw;
  height: 18vw;
  background: #00000040;
  position: absolute;
  display: none;
}
.js5 {
  width: 17vw;
  height: 18vw;
  background: #00000040;
  position: absolute;
  display: none;
}
.js6 {
  width: 17vw;
  height: 18vw;
  background: #00000040;
  position: absolute;
  display: none;
}
.js7 {
  width: 17vw;
  height: 18vw;
  background: #000000a6;
  position: absolute;
  display: none;
}
.btn1 {
  color: white;
  position: absolute;
  top: 15.1vw;
  width: 8.5vw;
  height: 3vw;
  background: #00000047;
  border: 0.1px solid;
  border-radius: 0.1vw;
  transition: 0.2s;
} 
.btn1:hover { 
  background: rgba(255,255,255,.2);
}
.btn1_1 {
  color: white;
  position: absolute;
  top: 15.1vw;
  left: 8.5vw;
  width: 8.5vw;
  height: 3vw;
  background: #00000047;
  border: 0.1px solid;
  border-radius: 0.1vw;
  transition: 0.2s;
} 
.btn1_1:hover { 
  background: rgba(255,255,255,.2);
}
.btn2 {
  color: white;
  position: absolute;
  top: 15.1vw;
  width: 8.5vw;
  height: 3vw;
  background: #00000047;
  border: 0.1px solid;
  border-radius: 0.1vw;
  transition: 0.2s;
} 
.btn2:hover { 
  background: rgba(255,255,255,.2);
}
.btn2_1 {
  color: white;
  position: absolute;
  top: 15.1vw;
  left: 8.5vw;
  width: 8.5vw;
  height: 3vw;
  background: #00000047;
  border: 0.1px solid;
  border-radius: 0.1vw;
  transition: 0.2s;
} 
.btn2_1:hover { 
  background: rgba(255,255,255,.2);
}
.btn3 {
  color: white;
  position: absolute;
  top: 15.1vw;
  width: 8.5vw;
  height: 3vw;
  background: #00000047;
  border: 0.1px solid;
  border-radius: 0.1vw;
  transition: 0.2s;
} 
.btn3:hover { 
  background: rgba(255,255,255,.2);
}
.btn3_1 {
  color: white;
  position: absolute;
  top: 15.1vw;
  left: 8.5vw;
  width: 8.5vw;
  height: 3vw;
  background: #00000047;
  border: 0.1px solid;
  border-radius: 0.1vw;
  transition: 0.2s;
} 
.btn3_1:hover { 
  background: rgba(255,255,255,.2);
}
.btn4 {
  color: white;
  position: absolute;
  top: 15.1vw;
  width: 8.5vw;
  height: 3vw;
  background: #00000047;
  border: 0.1px solid;
  border-radius: 0.1vw;
  transition: 0.2s;
} 
.btn4:hover { 
  background: rgba(255,255,255,.2);
}
.btn4_1 {
  color: white;
  position: absolute;
  top: 15.1vw;
  left: 8.5vw;
  width: 8.5vw;
  height: 3vw;
  background: #00000047;
  border: 0.1px solid;
  border-radius: 0.1vw;
  transition: 0.2s;
} 
.btn4_1:hover { 
  background: rgba(255,255,255,.2);
}
.btn5 {
  color: white;
  position: absolute;
  top: 15.1vw;
  width: 8.5vw;
  height: 3vw;
  background: #00000047;
  border: 0.1px solid;
  border-radius: 0.1vw;
  transition: 0.2s;
} 
.btn5:hover { 
  background: rgba(255,255,255,.2);
}
.btn5_1 {
  color: white;
  position: absolute;
  top: 15.1vw;
  left: 8.5vw;
  width: 8.5vw;
  height: 3vw;
  background: #00000047;
  border: 0.1px solid;
  border-radius: 0.1vw;
  transition: 0.2s;
} 
.btn5_1:hover { 
  background: rgba(255,255,255,.2);
}
.btn6 {
  color: white;
  position: absolute;
  top: 15.1vw;
  width: 8.5vw;
  height: 3vw;
  background: #00000047;
  border: 0.1px solid;
  border-radius: 0.1vw;
  transition: 0.2s;
} 
.btn6:hover { 
  background: rgba(255,255,255,.2);
}
.btn6_1 {
  color: white;
  position: absolute;
  top: 15.1vw;
  left: 8.5vw;
  width: 8.5vw;
  height: 3vw;
  background: #00000047;
  border: 0.1px solid;
  border-radius: 0.1vw;
  transition: 0.2s;
} 
.btn6_1:hover { 
  background: rgba(255,255,255,.2);
}
.btn7 {
  color: white;
  position: absolute;
  top: 15.1vw;
  width: 8.5vw;
  height: 3vw;
  background: #00000047;
  border: 0.1px solid;
  border-radius: 0.1vw;
  transition: 0.2s;
} 
.btn7:hover { 
  background: rgba(255,255,255,.2);
}
.btn7_1 {
  color: white;
  position: absolute;
  top: 15.1vw;
  left: 8.5vw;
  width: 8.5vw;
  height: 3vw;
  background: #00000047;
  border: 0.1px solid;
  border-radius: 0.1vw;
  transition: 0.2s;
} 
.btn7_1:hover { 
  background: rgba(255,255,255,.2);
}
.detailed1 {
  background-image: url("img/ww1.png");
  -webkit-background-size: 50vw 38vw;
  background-size: 50vw 38vw;
  width: 50vw;
  height: 38vw;
  position: absolute;
  top: 5vw;
  right: 4vw;
  border: 0.2vw solid #1d191963;
  display: none;
}
.detailed2 {
  background-image: url("img/ww2.png");
  -webkit-background-size: 50vw 38vw;
  background-size: 50vw 38vw;
  width: 50vw;
  height: 38vw;
  position: absolute;
  top: 5vw;
  right: 4vw;
  border: 0.2vw solid #1d191963;
  display: none;
}
.detailed3 {
  background-image: url("img/ww3.png");
  -webkit-background-size: 50vw 38vw;
  background-size: 50vw 38vw;
  width: 50vw;
  height: 38vw;
  position: absolute;
  top: 5vw;
  right: 4vw;
  border: 0.2vw solid #1d191963;
  display: none;
}
.detailed4 {
  background-image: url("img/ww4.png");
  -webkit-background-size: 50vw 38vw;
  background-size: 50vw 38vw;
  width: 50vw;
  height: 38vw;
  position: absolute;
  top: 5vw;
  right: 4vw;
  border: 0.2vw solid #1d191963;
  display: none;
}
.detailed5 {
  background-image: url("img/ww5.png");
  -webkit-background-size: 50vw 38vw;
  background-size: 50vw 38vw;
  width: 50vw;
  height: 38vw;
  position: absolute;
  top: 45vw;
  right: 4vw;
  border: 0.2vw solid #1d191963;
  display: none;
}
.detailed6 {
  background-image: url("img/ww6.png");
  -webkit-background-size: 50vw 38vw;
  background-size: 50vw 38vw;
  width: 50vw;
  height: 38vw;
  position: absolute;
  top: 45vw;
  right: 4vw;
  border: 0.2vw solid #1d191963;
  display: none;
}
.detailed7 {
  background-image: url("img/ww7.png");
  -webkit-background-size: 50vw 38vw;
  background-size: 50vw 38vw;
  width: 50vw;
  height: 38vw;
  position: absolute;
  top: 45vw;
  right: 4vw;
  border: 0.2vw solid #1d191963;
  display: none;
}
.footer {
  width: 100vw;
  height: 3vw;
  background: black;
  position: absolute;
  top: 132vw;
}